<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/screen.css">
	<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script defer src="js/client-endpoints.js"></script>
	<script defer src="js/auth/auth.js"></script>
	<script defer src="js/home/reporting-incident.js"></script>
	<script defer src="js/home/display-user-info.js"></script>
	<script defer src="js/home/display-active-incidents.js"></script>
	<script defer src="js/home/change-state-incident.js"></script>
	<script defer src="js/history/display-history.js"></script>
	<script defer type="module" src="js/stats/display-charts.js"></script>
	
	<script defer type="module" src="js/script.js"></script>
	<title>Incidents-Users</title>
</head>
<body>
	{{{body}}}
</body>
</html>