<div class="container">
		{{> nav}}
</div>

<div>
	<h3> Login or Register to help or report incidents and view your history. </h3>
	<form>
		<label for="username">Username: </label>
		<input type="text" id="username" autocomplete="off">

		<label for="password">Password: </label>
		<input type="password" id="password">

		<button type="button" id="login">Login</button>

		<button type="button" id="register">Register</button>
	</form>
</div>
