<div class="container">
		{{> nav}}
</div>

<div class="history-container">
	<div id="incidents-reported">
		<h3>Incidents Reported: </h3> 
	</div>
	<div id="incidents-helped">
		<h3>Incidents Helped: </h3>
	</div>
</div>

<h2 class="non-auth"> You are not authenticated. Head over to the authentication page. </h2>