<div class="container">
		{{> nav}}
</div>

<div class="canvas-container">
	<div>
		<h3> Best bystanders: </h3>
		<canvas id="bar-chart-bystanders" height="400px" width="300px"></canvas>
	</div>

	<div>
		<h3>Most frequent types: </h3>
		<canvas id="pie-chart-frequent-types" height="400px" width="300px"></canvas>
	</div>
	
</div>