@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
	background-color: darkgray;
	height: 500px;
	width: 750px;
	margin: 12rem 5rem 0 5rem;
	overflow: hidden;
	font-family: 'Itim', cursive;
	font-size: 1rem;
	display: flex;
	align-items: center;
}

h3 {
	text-decoration: underline;
}

.container { 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 30px 30px;
	grid-auto-flow: row;
	grid-template-areas:
	  "routes report-btn user-info"
	  "routes report-info help-info"
	  "routes active-incidents active-incidents"
	  "routes active-incidents active-incidents";
}

.routes {
	grid-area: routes;
	border: solid black 0.1rem;
}

.routes nav ul li {
    height: 10rem;
    display: flex;
	text-align: center;
    justify-content: center;
	list-style-type: none;
}

.routes nav ul li a {
	text-decoration: none;
	margin-top: 50%;
	margin-right: 25%;
	font-size: 2rem;
	color: black;
}

.routes nav ul li a:hover {
	color: white;
}

.report-btn {
	grid-area: report-btn;
	border: solid black 0.1rem;
}

.report-info {
	grid-area: report-info;
	border: solid black 0.1rem;
	padding: 0.5rem;
}

.help-info {
	grid-area: help-info;
	border: solid black 0.1rem;
	padding: 0.5rem;
}

button {
	font-family: 'Itim', cursive;
	cursor: pointer;
	border: none;
}

button:hover {
	background-color: black;
	color: white;
}

.report-btn button {
	font-size: 2.5rem;
	height: 100%;
}

.user-info {
	grid-area: user-info;
	border: solid black 0.1rem;
	padding-left: 1rem;
}

.active-incidents {
	grid-area: active-incidents;
	border: solid black 0.1rem;
	overflow-x: hidden;
	overflow-y: auto;
	height: 15rem;
	padding: 0.7rem;
}

.canvas-container {
	display: flex;
}

.history-container {
	display: flex;
	justify-content: space-evenly;
}

#incidents-reported, #incidents-helped {
	border: 0.1rem solid black;
	overflow-x: hidden;
	overflow-y: auto;
	height: 15rem;
	width: 10rem;
	padding: 0.7rem;
} 